/* make a background color */
body {
    background-color: #777777;
}

/* encompass all work */
.container{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    font-family: Arial, Helvetica, sans-serif;
    color:#777777;
}

/* the heading */
.header {
    display:flex;
    justify-content: center;
    width: 920px;
    margin-top: 30px;
    background: #ccc;
    padding:20px;
}

/* the navigation bar */
.nav {
    display:flex;
    justify-content: center;
    width: 920px;
    margin-top: 10px;
    background: #ccc;
    padding: 20px;
}

/* area labeled section to the left on screen */
.section {
    display:flex;
    justify-content: center;
    width: 470px;
    margin-top: 20px;
    background: #ccc;
    float: left;
    text-align: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

/* adding some disance between sections */
.sect{
    margin-top: 20px;
}

/* the are on the right side of the screen */
.article {
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    width: 450px;
    height: 175px;
    margin-top: 70px;
    background: #777777;
    margin-bottom: 20px;
    flex-direction: column;
    padding:10px 0px 0px 0px;
}

 /* the division inside the article section */
#art{
    color: #ccc;
    margin-bottom:10px;
}

/* under the article section */
.h1h2 {
    display:flex;
    justify-content: center;
    float: left;
    margin-left: 8px;
    margin-top: 20px;
    padding-top: 10px;
    width: 425px;
    height: 40px;
    background: #ccc;
}

/* paragraph section */
.p {
    display: flex;
    justify-content: center;
    float: left;
    width: 425px;
    height: 40px;
    margin-left: 8px;
    margin-top: 10px;
    padding-top: 5px;
    margin-bottom: 20px;
    background: #ccc;
}

/* this is the other side of the screen */
.aside {
    display:flex;
    justify-content: center;
    width: 430px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    background:#ccc;
    float: right;
    padding:20px;
}

/* the footer */
.footer {
    display:flex;
    justify-content: center;
    width: 920px;
    margin-top: 10px;
    background:#ccc;  
    padding: 20px;
}
